:root {
--color-text: #434455;
--color-background-header: #E7E9FC;
--color-background-team: #2E2F42;
--color-button: #4D5AE5;
--color-button-nav: #404BBF;
--color-logo: #F4F4FD;
--color-buttom-first: #FFFFFF;
}
body {
    font-family: 'Roboto','Raleway', sans-serif;
    color: var(--color-text);
}
.navigation {
    font-size: 16px;
    font-weight: 500;
    line-height: 1.5;
    color: var(--color-background-team);
    text-decoration: none;}
    
.contact {
    color: var(--color-text);
    text-decoration: none;
    font-size: 16px;
    font-style: normal;
    font-weight: 400;
} 
.navigation:hover {
    color:var(--color-button-nav);
    cursor: pointer;
}
.contact:hover {
    color: var(--color-button-nav);
    cursor: pointer;
}
.contact:focus {
    color: var(--color-button-nav);
}
h1 {
    color:var(--color-buttom-first); 
    line-height: 1.07; 
    text-align: center;
    font-weight: 700;
    font-size: 56px;
}
h3 {
    color: var(--color-background-team);
    font-size: 20px;
    line-height: 1.2;
    font-weight: 500;
}
h2 {
    color: var(--color-background-team);
    font-size: 36px;
    line-height: 1.11;
    font-weight: 700;
    text-align: center;
}
.section-order{
    color: var(--color-buttom-first);
    background-color: var(--color-button);
    font-weight: 500;
    font-size: 16px;
    line-height: 1.5;
    text-align: center;
}
.logo {
    font-family: 'Raleway', sans-serif;
    font-size: 18px;
    text-decoration: none;
    text-transform: uppercase;
    color:var(--color-button);
    line-height: 1.16;
    font-weight: 800;
}
.logo .studio-highlight {
    color:var(--color-background-team);
}
footer .logo .studio-highlight {
    color: var(--color-logo);
}
.page-footer {
    background-color:var(--color-background-team);
}
.section-team {
    background-color:var(--color-logo);
}
.section-order {
    background-color: var(--color-background-team);
}
.order {
    background-color: var(--color-button-nav);
    border: 1px;
    border-color: var(--color-background-header);
    color: var(--color-buttom-first);
    font-size: 16px;
    line-height: 1.5;
    font-weight: 500;
}
.order:hover {
    background-color: var(--color-background-header);
    color: var(--color-button);
    cursor: pointer;
}
.service-navigation {
    background-color:var(--color-button-nav);
    border: 1px;
    border-color: var(--color-background-header);
    color: var(--color-buttom-first);
}
.service-navigation:hover {
    background-color:var(--color-background-header);
    color: var(--color-button);
    cursor: pointer;
}
.description {
    font-size: 16px;
    font-weight: 400;
}
.page-end {
    color:var(--color-logo);
    font-size: 16px;
    font-weight: 400;
    line-height: 1.5;
}
.job {
    font-size: 16px;
    font-weight: 400;
}
ul {
    list-style-type: none;
}